/* Add CSS Styling */

.para {
    background-color: rgb(255, 100, 150);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 24px;
}

#third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(100, 255, 100);
}